>0_1a  Name
>1_MA  Name
>2_KE  Name
>3_NC  Name
* iteration 1
AASA
PPAP
AGAT
FVVA
STST
VVVV
STST
PPPP
AAAS
STTS
GGGG
ALLL
SSAS
DNDD
GGGG
QQAT
STTV
VVVV
STTK
VVVV
SSSA
VAAG
ATSA
ATAQ
APTA
GGSG
ETTT
TVSA
YYAY
YHTD
IVAV
AGLG
QQQQ
CCCC
AAAA
PVIW
VVLV
GEAD
GGGG
QVRV
DIGL
AGAA
CCCC
NDNN
PAVP
ATAA
TTED
ASFF
TTHS
SDDS
FVFV
TTST
TALA
DDSD
AAGA
SA N
GGGG
AKES
AIGA
STTS
FATT
SQSS
FLVL
TKVT
VVVV
RHRR
KSRR
SSSS
YFFF
AQTE
GAGG
QVYF
TVVL
PAPF
SNDD
GGGG
TTPT
PPER
VWVW
GGGG
STAT
VVVV
DNDD
CCCC
AKDT
TVTT
DVAA
ASPA
CCCC
NSEQ
LAIV
GGVG
ALVL
GGGS
NSGD
SDNA
GSTA
LGGG
NEEN
LGYG
GAGP
HANG
VQAV
AAAA
LIII
TTSS
FFFF
GAGN
*
